* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: khaki;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: ;
}

h1 {
    font-size: 4em;
    letter-spacing: 3px;
    color: #d470bb;
    text-shadow: 3px 3px #a85294;

    text-align: center;
    text-transform: uppercase;
    margin-top: .2em;
    margin-bottom: .1em;
}

.calculator {
    background-color: #add8e6;
    width: 400px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: .5em .2em #89c4d8;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 6.66%;
    grid-row-gap: 15px;
}

button {
    width: 100%;
    padding: 5px 0;
    background-color: #f08080;
    box-shadow: .1em .3rem #db6d6d;

    border: none;
    border-radius: 20px;

    font-size: 1.5em;
    font-family: inherit;

    cursor: pointer;
}

/* why child 2 & 3?  */
button:nth-child(2),
button:nth-child(3) {
    background-color: #f0b5b5;
    box-shadow: .1em .3rem #d19595;
} 

button:active {
    transform: translateY(.1rem);
    box-shadow: .1em .2rem #db6d6d;
}

button:focus {
    outline:0;
}

input {
    height: 70px;
    grid-column: span 4;
    border: none;
    background-image: linear-gradient(to right, #afafaf, #9e9e9e);
    box-shadow: 3px 0px #969696;

    /* hack: colors the text while making making blinking text cursor disappear; */
    color: transparent;
    text-shadow: 0 0 0 black;
    font-family: inherit;
    font-size: 3em;

    direction: RTL;
    //text-overflow: ellipsis;
}

input:hover {
    cursor: default;
}

input:focus {
    outline: 0;
}

.large {
    grid-row: span 2;
}